<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_lUbSAKK7Eee1Uv-kEHpebQ" specification="interface:&#xA;&#x9;in event execution_started&#xA;&#x9;in event execution_finished&#xA;&#x9;in event execution_failed&#xA;&#x9;in event cancel" name="complex_request">
    <regions xmi:id="_lUbSBaK7Eee1Uv-kEHpebQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_lUb5EaK7Eee1Uv-kEHpebQ">
        <outgoingTransitions xmi:id="_lUcgKaK7Eee1Uv-kEHpebQ" target="_lUb5HaK7Eee1Uv-kEHpebQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_lUb5HaK7Eee1Uv-kEHpebQ" name="Waiting" incomingTransitions="_lUcgKaK7Eee1Uv-kEHpebQ">
        <outgoingTransitions xmi:id="_0ieJgKK7Eee1Uv-kEHpebQ" specification="execution_started" target="_mfWNAKK7Eee1Uv-kEHpebQ"/>
        <outgoingTransitions xmi:id="_4i88YKK7Eee1Uv-kEHpebQ" specification="cancel" target="_wGIhEKK7Eee1Uv-kEHpebQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_mfWNAKK7Eee1Uv-kEHpebQ" name="Executing" incomingTransitions="_0ieJgKK7Eee1Uv-kEHpebQ">
        <outgoingTransitions xmi:id="_2PMKAKK7Eee1Uv-kEHpebQ" specification="execution_finished" target="_oqkucKK7Eee1Uv-kEHpebQ"/>
        <outgoingTransitions xmi:id="_3VnmkKK7Eee1Uv-kEHpebQ" specification="execution_failed" target="_tkAikKK7Eee1Uv-kEHpebQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_oqkucKK7Eee1Uv-kEHpebQ" name="Executed" incomingTransitions="_2PMKAKK7Eee1Uv-kEHpebQ"/>
      <vertices xsi:type="sgraph:State" xmi:id="_tkAikKK7Eee1Uv-kEHpebQ" name="Failed" incomingTransitions="_3VnmkKK7Eee1Uv-kEHpebQ">
        <outgoingTransitions xmi:id="_5JOSMKK7Eee1Uv-kEHpebQ" specification="cancel" target="_wGIhEKK7Eee1Uv-kEHpebQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_wGIhEKK7Eee1Uv-kEHpebQ" name="Cancelled" incomingTransitions="_4i88YKK7Eee1Uv-kEHpebQ _5JOSMKK7Eee1Uv-kEHpebQ"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_lUbSA6K7Eee1Uv-kEHpebQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_lUbSAKK7Eee1Uv-kEHpebQ" measurementUnit="Pixel">
    <children xmi:id="_lUbSBqK7Eee1Uv-kEHpebQ" type="Region" element="_lUbSBaK7Eee1Uv-kEHpebQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_lUbSCaK7Eee1Uv-kEHpebQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lUbSCqK7Eee1Uv-kEHpebQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lUbSC6K7Eee1Uv-kEHpebQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_lUbSDKK7Eee1Uv-kEHpebQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_lUb5EqK7Eee1Uv-kEHpebQ" type="Entry" element="_lUb5EaK7Eee1Uv-kEHpebQ">
          <children xmi:id="_lUb5FqK7Eee1Uv-kEHpebQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_lUb5GaK7Eee1Uv-kEHpebQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_lUb5GqK7Eee1Uv-kEHpebQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_lUb5G6K7Eee1Uv-kEHpebQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_lUb5F6K7Eee1Uv-kEHpebQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lUb5GKK7Eee1Uv-kEHpebQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_lUb5E6K7Eee1Uv-kEHpebQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_lUb5FKK7Eee1Uv-kEHpebQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lUb5HKK7Eee1Uv-kEHpebQ" x="82" y="19"/>
        </children>
        <children xmi:id="_lUb5IKK7Eee1Uv-kEHpebQ" type="State" element="_lUb5HaK7Eee1Uv-kEHpebQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_lUcgIKK7Eee1Uv-kEHpebQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_lUcgIaK7Eee1Uv-kEHpebQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_lUcgIqK7Eee1Uv-kEHpebQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_lUcgI6K7Eee1Uv-kEHpebQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_lUcgJKK7Eee1Uv-kEHpebQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lUcgJaK7Eee1Uv-kEHpebQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_lUcgJqK7Eee1Uv-kEHpebQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_lUb5IaK7Eee1Uv-kEHpebQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_lUb5IqK7Eee1Uv-kEHpebQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_lUcgJ6K7Eee1Uv-kEHpebQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lUcgKKK7Eee1Uv-kEHpebQ" x="40" y="80" width="113" height="80"/>
        </children>
        <children xmi:id="_mfXbIKK7Eee1Uv-kEHpebQ" type="State" element="_mfWNAKK7Eee1Uv-kEHpebQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_mfXbJKK7Eee1Uv-kEHpebQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_mfXbJaK7Eee1Uv-kEHpebQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_mfXbJqK7Eee1Uv-kEHpebQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_mfXbJ6K7Eee1Uv-kEHpebQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_mfYCMKK7Eee1Uv-kEHpebQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mfYCMaK7Eee1Uv-kEHpebQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_mfYCMqK7Eee1Uv-kEHpebQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_mfXbIaK7Eee1Uv-kEHpebQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_mfXbIqK7Eee1Uv-kEHpebQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_mfYCM6K7Eee1Uv-kEHpebQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mfXbI6K7Eee1Uv-kEHpebQ" x="309" y="80" width="113" height="80"/>
        </children>
        <children xmi:id="_oqlVgKK7Eee1Uv-kEHpebQ" type="State" element="_oqkucKK7Eee1Uv-kEHpebQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_oql8kKK7Eee1Uv-kEHpebQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_oql8kaK7Eee1Uv-kEHpebQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_oql8kqK7Eee1Uv-kEHpebQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_oql8k6K7Eee1Uv-kEHpebQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_oql8lKK7Eee1Uv-kEHpebQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oql8laK7Eee1Uv-kEHpebQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_oql8lqK7Eee1Uv-kEHpebQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_oqlVgaK7Eee1Uv-kEHpebQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_oqlVgqK7Eee1Uv-kEHpebQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_oql8l6K7Eee1Uv-kEHpebQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oqlVg6K7Eee1Uv-kEHpebQ" x="399" y="208" width="113" height="80"/>
        </children>
        <children xmi:id="_tkBJoKK7Eee1Uv-kEHpebQ" type="State" element="_tkAikKK7Eee1Uv-kEHpebQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_tkBJpKK7Eee1Uv-kEHpebQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_tkBJpaK7Eee1Uv-kEHpebQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_tkBwsKK7Eee1Uv-kEHpebQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_tkBwsaK7Eee1Uv-kEHpebQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_tkBwsqK7Eee1Uv-kEHpebQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tkBws6K7Eee1Uv-kEHpebQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_tkBwtKK7Eee1Uv-kEHpebQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_tkBJoaK7Eee1Uv-kEHpebQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_tkBJoqK7Eee1Uv-kEHpebQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_tkBwtaK7Eee1Uv-kEHpebQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tkBJo6K7Eee1Uv-kEHpebQ" x="219" y="208" width="113" height="80"/>
        </children>
        <children xmi:id="_wGJIIKK7Eee1Uv-kEHpebQ" type="State" element="_wGIhEKK7Eee1Uv-kEHpebQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_wGJvMKK7Eee1Uv-kEHpebQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_wGJvMaK7Eee1Uv-kEHpebQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_wGJvMqK7Eee1Uv-kEHpebQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_wGJvM6K7Eee1Uv-kEHpebQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_wGJvNKK7Eee1Uv-kEHpebQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wGJvNaK7Eee1Uv-kEHpebQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_wGJvNqK7Eee1Uv-kEHpebQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_wGJIIaK7Eee1Uv-kEHpebQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_wGJIIqK7Eee1Uv-kEHpebQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_wGJvN6K7Eee1Uv-kEHpebQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wGJII6K7Eee1Uv-kEHpebQ" x="40" y="208" width="113" height="80"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lUbSDaK7Eee1Uv-kEHpebQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_lUbSB6K7Eee1Uv-kEHpebQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lUb5EKK7Eee1Uv-kEHpebQ" x="220" y="10" width="548" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_lUdHN6K7Eee1Uv-kEHpebQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_lUdHOaK7Eee1Uv-kEHpebQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lUdHOqK7Eee1Uv-kEHpebQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lUdHO6K7Eee1Uv-kEHpebQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_lUdHPKK7Eee1Uv-kEHpebQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lUdHPaK7Eee1Uv-kEHpebQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lUdHPqK7Eee1Uv-kEHpebQ" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_lUbSBKK7Eee1Uv-kEHpebQ"/>
    <edges xmi:id="_lUdHMKK7Eee1Uv-kEHpebQ" type="Transition" element="_lUcgKaK7Eee1Uv-kEHpebQ" source="_lUb5EqK7Eee1Uv-kEHpebQ" target="_lUb5IKK7Eee1Uv-kEHpebQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_lUdHNKK7Eee1Uv-kEHpebQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lUdHNaK7Eee1Uv-kEHpebQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lUdHNqK7Eee1Uv-kEHpebQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_lUdHMaK7Eee1Uv-kEHpebQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_lUdHM6K7Eee1Uv-kEHpebQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_lUdHMqK7Eee1Uv-kEHpebQ" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_0iewkKK7Eee1Uv-kEHpebQ" type="Transition" element="_0ieJgKK7Eee1Uv-kEHpebQ" source="_lUb5IKK7Eee1Uv-kEHpebQ" target="_mfXbIKK7Eee1Uv-kEHpebQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_0iewlKK7Eee1Uv-kEHpebQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0iewlaK7Eee1Uv-kEHpebQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0iewlqK7Eee1Uv-kEHpebQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0iewkaK7Eee1Uv-kEHpebQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0iewk6K7Eee1Uv-kEHpebQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0iewkqK7Eee1Uv-kEHpebQ" points="[6, 9, -166, 3]$[173, 46, 1, 40]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0ihM0KK7Eee1Uv-kEHpebQ" id="(0.9469026548672567,0.3875)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0ihM0aK7Eee1Uv-kEHpebQ" id="(0.05309734513274336,0.475)"/>
    </edges>
    <edges xmi:id="_2PMxEKK7Eee1Uv-kEHpebQ" type="Transition" element="_2PMKAKK7Eee1Uv-kEHpebQ" source="_mfXbIKK7Eee1Uv-kEHpebQ" target="_oqlVgKK7Eee1Uv-kEHpebQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_2PMxFKK7Eee1Uv-kEHpebQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2PMxFaK7Eee1Uv-kEHpebQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2PMxFqK7Eee1Uv-kEHpebQ" x="15" y="3"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2PMxEaK7Eee1Uv-kEHpebQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2PMxE6K7Eee1Uv-kEHpebQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2PMxEqK7Eee1Uv-kEHpebQ" points="[8, 20, -55, -66]$[53, 20, -10, -66]$[53, 83, -10, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2PN_MKK7Eee1Uv-kEHpebQ" id="(0.9292035398230089,0.6)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2PN_MaK7Eee1Uv-kEHpebQ" id="(0.6814159292035398,0.05)"/>
    </edges>
    <edges xmi:id="_3VoNoKK7Eee1Uv-kEHpebQ" type="Transition" element="_3VnmkKK7Eee1Uv-kEHpebQ" source="_mfXbIKK7Eee1Uv-kEHpebQ" target="_tkBJoKK7Eee1Uv-kEHpebQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_3VoNpKK7Eee1Uv-kEHpebQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3VoNpaK7Eee1Uv-kEHpebQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3VoNpqK7Eee1Uv-kEHpebQ" x="11" y="6"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_3VoNoaK7Eee1Uv-kEHpebQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_3VoNo6K7Eee1Uv-kEHpebQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_3VoNoqK7Eee1Uv-kEHpebQ" points="[-19, 0, 67, -67]$[-56, 0, 30, -67]$[-56, 63, 30, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3VpbwKK7Eee1Uv-kEHpebQ" id="(0.17699115044247787,0.875)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3VpbwaK7Eee1Uv-kEHpebQ" id="(0.22123893805309736,0.0625)"/>
    </edges>
    <edges xmi:id="_4i9jcKK7Eee1Uv-kEHpebQ" type="Transition" element="_4i88YKK7Eee1Uv-kEHpebQ" source="_lUb5IKK7Eee1Uv-kEHpebQ" target="_wGJIIKK7Eee1Uv-kEHpebQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_4i9jdKK7Eee1Uv-kEHpebQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4i9jdaK7Eee1Uv-kEHpebQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4i-KgKK7Eee1Uv-kEHpebQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_4i9jcaK7Eee1Uv-kEHpebQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_4i9jc6K7Eee1Uv-kEHpebQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_4i9jcqK7Eee1Uv-kEHpebQ" points="[38, 9, -8, -66]$[38, 62, -8, -13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4i_YoKK7Eee1Uv-kEHpebQ" id="(0.1504424778761062,0.8875)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4i_YoaK7Eee1Uv-kEHpebQ" id="(0.5752212389380531,0.175)"/>
    </edges>
    <edges xmi:id="_5JO5QKK7Eee1Uv-kEHpebQ" type="Transition" element="_5JOSMKK7Eee1Uv-kEHpebQ" source="_tkBJoKK7Eee1Uv-kEHpebQ" target="_wGJIIKK7Eee1Uv-kEHpebQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_5JPgUaK7Eee1Uv-kEHpebQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5JPgUqK7Eee1Uv-kEHpebQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5JPgU6K7Eee1Uv-kEHpebQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5JO5QaK7Eee1Uv-kEHpebQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5JPgUKK7Eee1Uv-kEHpebQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5JO5QqK7Eee1Uv-kEHpebQ" points="[-4, 3, 98, 3]$[-75, 3, 27, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5JR8kKK7Eee1Uv-kEHpebQ" id="(0.04424778761061947,0.4625)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5JR8kaK7Eee1Uv-kEHpebQ" id="(0.7522123893805309,0.4625)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
