<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_EgbtQJx1Eee7ep89pK7XMw" specification="interface:&#xA;&#x9;var M: integer&#xA;&#x9;var N: integer&#xA;&#x9;&#xA;internal:&#xA;&#x9;event enable&#xA;&#x9;event disable&#xA;&#x9;&#xA;&#x9;event new_request&#xA;&#x9;event request_completed" name="m_of_n_disableable">
    <regions xmi:id="_EgcUVJx1Eee7ep89pK7XMw" name="main">
      <vertices xsi:type="sgraph:State" xmi:id="_Egdie5x1Eee7ep89pK7XMw" specification="entry /&#xA;M = 0; N = 3" name="idle" incomingTransitions="_EgewkJx1Eee7ep89pK7XMw _KO2hQJx4Eee7ep89pK7XMw _zkSlsJ9oEeeSgsAPjpYRnw">
        <outgoingTransitions xmi:id="_Xsjj4Jx1Eee7ep89pK7XMw" specification="new_request /&#xA;M += 1" target="_GwwxIJx1Eee7ep89pK7XMw"/>
        <outgoingTransitions xmi:id="_TrWQ4Jx4Eee7ep89pK7XMw" specification="disable" target="_CATLcJx4Eee7ep89pK7XMw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_GwwxIJx1Eee7ep89pK7XMw" name="occupied" incomingTransitions="_Xsjj4Jx1Eee7ep89pK7XMw _oXyLEJx1Eee7ep89pK7XMw _vj1iEJx1Eee7ep89pK7XMw _ILoFQJx4Eee7ep89pK7XMw _zDiCAJ9oEeeSgsAPjpYRnw">
        <outgoingTransitions xmi:id="_qcueUJx1Eee7ep89pK7XMw" specification="new_request /&#xA;M += 1" target="_qctQMJx1Eee7ep89pK7XMw"/>
        <outgoingTransitions xmi:id="_bD1hYJx4Eee7ep89pK7XMw" specification="disable" target="_CATLcJx4Eee7ep89pK7XMw"/>
        <outgoingTransitions xmi:id="_wjRrwJ9oEeeSgsAPjpYRnw" specification="request_completed /&#xA;M -= 1" target="_wjH6wJ9oEeeSgsAPjpYRnw"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_qctQMJx1Eee7ep89pK7XMw" incomingTransitions="_qcueUJx1Eee7ep89pK7XMw">
        <outgoingTransitions xmi:id="_sLfGMJx1Eee7ep89pK7XMw" specification="[M == N]" target="_Kq1aAJx1Eee7ep89pK7XMw"/>
        <outgoingTransitions xmi:id="_vj1iEJx1Eee7ep89pK7XMw" specification="else" target="_GwwxIJx1Eee7ep89pK7XMw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Kq1aAJx1Eee7ep89pK7XMw" name="occupied_full" incomingTransitions="_sLfGMJx1Eee7ep89pK7XMw _HaF6oJx4Eee7ep89pK7XMw">
        <outgoingTransitions xmi:id="_oXyLEJx1Eee7ep89pK7XMw" specification="request_completed /&#xA;M -= 1" target="_GwwxIJx1Eee7ep89pK7XMw"/>
        <outgoingTransitions xmi:id="_YCSb8Jx4Eee7ep89pK7XMw" specification="disable" target="_CATLcJx4Eee7ep89pK7XMw"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_Egc7Z5x1Eee7ep89pK7XMw">
        <outgoingTransitions xmi:id="_EgewkJx1Eee7ep89pK7XMw" target="_Egdie5x1Eee7ep89pK7XMw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_CATLcJx4Eee7ep89pK7XMw" name="disabled" incomingTransitions="_TrWQ4Jx4Eee7ep89pK7XMw _YCSb8Jx4Eee7ep89pK7XMw _bD1hYJx4Eee7ep89pK7XMw _Gw0UEJ08Eee7ep89pK7XMw">
        <outgoingTransitions xmi:id="_F95pcJx4Eee7ep89pK7XMw" specification="enable" target="_F930QJx4Eee7ep89pK7XMw"/>
        <outgoingTransitions xmi:id="_Gw0UEJ08Eee7ep89pK7XMw" specification="request_completed [M > 0] /&#xA;M -= 1" target="_CATLcJx4Eee7ep89pK7XMw"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_F930QJx4Eee7ep89pK7XMw" incomingTransitions="_F95pcJx4Eee7ep89pK7XMw">
        <outgoingTransitions xmi:id="_HaF6oJx4Eee7ep89pK7XMw" specification="[M == N]" target="_Kq1aAJx1Eee7ep89pK7XMw"/>
        <outgoingTransitions xmi:id="_ILoFQJx4Eee7ep89pK7XMw" specification="else" target="_GwwxIJx1Eee7ep89pK7XMw"/>
        <outgoingTransitions xmi:id="_KO2hQJx4Eee7ep89pK7XMw" specification="[M == 0]" target="_Egdie5x1Eee7ep89pK7XMw"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_wjH6wJ9oEeeSgsAPjpYRnw" incomingTransitions="_wjRrwJ9oEeeSgsAPjpYRnw">
        <outgoingTransitions xmi:id="_zDiCAJ9oEeeSgsAPjpYRnw" specification="else" target="_GwwxIJx1Eee7ep89pK7XMw"/>
        <outgoingTransitions xmi:id="_zkSlsJ9oEeeSgsAPjpYRnw" specification="[M == 0]" target="_Egdie5x1Eee7ep89pK7XMw"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_EgcUUpx1Eee7ep89pK7XMw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_EgbtQJx1Eee7ep89pK7XMw" measurementUnit="Pixel">
    <children xmi:id="_EgcUVZx1Eee7ep89pK7XMw" type="Region" element="_EgcUVJx1Eee7ep89pK7XMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Egc7YZx1Eee7ep89pK7XMw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Egc7Ypx1Eee7ep89pK7XMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Egc7Y5x1Eee7ep89pK7XMw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_Egc7ZJx1Eee7ep89pK7XMw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_xkSE_5x3Eee7ep89pK7XMw" type="State" element="_Egdie5x1Eee7ep89pK7XMw">
          <children xsi:type="notation:DecorationNode" xmi:id="_xkSFAJx3Eee7ep89pK7XMw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_xkSFAZx3Eee7ep89pK7XMw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_xkSFApx3Eee7ep89pK7XMw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xkSFA5x3Eee7ep89pK7XMw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_xkSFBJx3Eee7ep89pK7XMw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xkSFBZx3Eee7ep89pK7XMw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xkSFBpx3Eee7ep89pK7XMw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_xkSFB5x3Eee7ep89pK7XMw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_xkSFCJx3Eee7ep89pK7XMw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_xkSFCZx3Eee7ep89pK7XMw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xkSFCpx3Eee7ep89pK7XMw" x="-2" y="82" width="91"/>
        </children>
        <children xmi:id="_xkSFC5x3Eee7ep89pK7XMw" type="State" element="_GwwxIJx1Eee7ep89pK7XMw">
          <children xsi:type="notation:DecorationNode" xmi:id="_xkSFDJx3Eee7ep89pK7XMw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_xkSFDZx3Eee7ep89pK7XMw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_xkSFDpx3Eee7ep89pK7XMw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xkSFD5x3Eee7ep89pK7XMw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_xkSFEJx3Eee7ep89pK7XMw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xkSFEZx3Eee7ep89pK7XMw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xkSFEpx3Eee7ep89pK7XMw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_xkSFE5x3Eee7ep89pK7XMw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_xkSFFJx3Eee7ep89pK7XMw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_xkSFFZx3Eee7ep89pK7XMw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xkSFFpx3Eee7ep89pK7XMw" x="203" y="82" width="93" height="53"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_xkSFI5x3Eee7ep89pK7XMw" type="Choice" element="_qctQMJx1Eee7ep89pK7XMw" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xkSFJJx3Eee7ep89pK7XMw" x="275" y="172" width="15" height="15"/>
        </children>
        <children xmi:id="_xkSFF5x3Eee7ep89pK7XMw" type="State" element="_Kq1aAJx1Eee7ep89pK7XMw">
          <children xsi:type="notation:DecorationNode" xmi:id="_xkSFGJx3Eee7ep89pK7XMw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_xkSFGZx3Eee7ep89pK7XMw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_xkSFGpx3Eee7ep89pK7XMw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xkSFG5x3Eee7ep89pK7XMw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_xkSFHJx3Eee7ep89pK7XMw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xkSFHZx3Eee7ep89pK7XMw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xkSFHpx3Eee7ep89pK7XMw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_xkSFH5x3Eee7ep89pK7XMw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_xkSFIJx3Eee7ep89pK7XMw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_xkSFIZx3Eee7ep89pK7XMw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xkSFIpx3Eee7ep89pK7XMw" x="203" y="235" width="93" height="53"/>
        </children>
        <children xmi:id="_xkSE9Zx3Eee7ep89pK7XMw" type="Entry" element="_Egc7Z5x1Eee7ep89pK7XMw">
          <children xmi:id="_xkSE9px3Eee7ep89pK7XMw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_xkSE95x3Eee7ep89pK7XMw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_xkSE-Jx3Eee7ep89pK7XMw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_xkSE-Zx3Eee7ep89pK7XMw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_xkSE-px3Eee7ep89pK7XMw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xkSE-5x3Eee7ep89pK7XMw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_xkSE_Jx3Eee7ep89pK7XMw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_xkSE_Zx3Eee7ep89pK7XMw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xkSE_px3Eee7ep89pK7XMw" x="43" y="14"/>
        </children>
        <children xmi:id="_CATygJx4Eee7ep89pK7XMw" type="State" element="_CATLcJx4Eee7ep89pK7XMw">
          <children xsi:type="notation:DecorationNode" xmi:id="_CATyhJx4Eee7ep89pK7XMw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_CATyhZx4Eee7ep89pK7XMw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_CATyhpx4Eee7ep89pK7XMw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_CATyh5x4Eee7ep89pK7XMw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_CATyiJx4Eee7ep89pK7XMw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CATyiZx4Eee7ep89pK7XMw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_CAUZkJx4Eee7ep89pK7XMw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_CATygZx4Eee7ep89pK7XMw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_CATygpx4Eee7ep89pK7XMw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_CAUZkZx4Eee7ep89pK7XMw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CATyg5x4Eee7ep89pK7XMw" x="10" y="298" width="87"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_F94bUJx4Eee7ep89pK7XMw" type="Choice" element="_F930QJx4Eee7ep89pK7XMw" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_F94bUZx4Eee7ep89pK7XMw" x="142" y="298"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_wjLlIJ9oEeeSgsAPjpYRnw" type="Choice" element="_wjH6wJ9oEeeSgsAPjpYRnw" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wjLlIZ9oEeeSgsAPjpYRnw" x="212" y="19"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Egc7ZZx1Eee7ep89pK7XMw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_EgcUVpx1Eee7ep89pK7XMw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Egc7Zpx1Eee7ep89pK7XMw" x="216" y="10" width="714" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_EgfXpJx1Eee7ep89pK7XMw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_EgfXppx1Eee7ep89pK7XMw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EgfXp5x1Eee7ep89pK7XMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EgfXqJx1Eee7ep89pK7XMw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_EgfXqZx1Eee7ep89pK7XMw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EgfXqpx1Eee7ep89pK7XMw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EgfXq5x1Eee7ep89pK7XMw" x="9" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_EgcUU5x1Eee7ep89pK7XMw"/>
    <edges xmi:id="_EgewkZx1Eee7ep89pK7XMw" type="Transition" element="_EgewkJx1Eee7ep89pK7XMw" source="_xkSE9Zx3Eee7ep89pK7XMw" target="_xkSE_5x3Eee7ep89pK7XMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_EgfXoZx1Eee7ep89pK7XMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EgfXopx1Eee7ep89pK7XMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EgfXo5x1Eee7ep89pK7XMw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Egewkpx1Eee7ep89pK7XMw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_EgfXoJx1Eee7ep89pK7XMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Egewk5x1Eee7ep89pK7XMw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_XskK8Jx1Eee7ep89pK7XMw" type="Transition" element="_Xsjj4Jx1Eee7ep89pK7XMw" source="_xkSE_5x3Eee7ep89pK7XMw" target="_xkSFC5x3Eee7ep89pK7XMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_XskyAZx1Eee7ep89pK7XMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XskyApx1Eee7ep89pK7XMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XskyA5x1Eee7ep89pK7XMw" x="-9" y="-17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XskK8Zx1Eee7ep89pK7XMw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XskyAJx1Eee7ep89pK7XMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XskK8px1Eee7ep89pK7XMw" points="[10, -1, -108, 2]$[119, -14, 1, -11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XslZEJx1Eee7ep89pK7XMw" id="(0.8780487804878049,0.3018867924528302)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XslZEZx1Eee7ep89pK7XMw" id="(0.07317073170731707,0.24528301886792453)"/>
    </edges>
    <edges xmi:id="_oXyyIJx1Eee7ep89pK7XMw" type="Transition" element="_oXyLEJx1Eee7ep89pK7XMw" source="_xkSFF5x3Eee7ep89pK7XMw" target="_xkSFC5x3Eee7ep89pK7XMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_oXyyJJx1Eee7ep89pK7XMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_oXyyJZx1Eee7ep89pK7XMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_oXyyJpx1Eee7ep89pK7XMw" x="3" y="-8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_oXyyIZx1Eee7ep89pK7XMw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_oXyyI5x1Eee7ep89pK7XMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_oXyyIpx1Eee7ep89pK7XMw" points="[-5, -6, 2, 120]$[-5, -111, 2, 15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_oX0AQJx1Eee7ep89pK7XMw" id="(0.2926829268292683,0.1320754716981132)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_oX0AQZx1Eee7ep89pK7XMw" id="(0.2073170731707317,0.6981132075471698)"/>
    </edges>
    <edges xmi:id="_qcvFYJx1Eee7ep89pK7XMw" type="Transition" element="_qcueUJx1Eee7ep89pK7XMw" source="_xkSFC5x3Eee7ep89pK7XMw" target="_xkSFI5x3Eee7ep89pK7XMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_qcvscZx1Eee7ep89pK7XMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qcvscpx1Eee7ep89pK7XMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qcvsc5x1Eee7ep89pK7XMw" y="12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qcvFYZx1Eee7ep89pK7XMw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qcvscJx1Eee7ep89pK7XMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qcvFYpx1Eee7ep89pK7XMw" points="[6, 4, 0, -67]$[6, 64, 0, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_rAPbEJx1Eee7ep89pK7XMw" id="(0.8292682926829268,0.9245283018867925)"/>
    </edges>
    <edges xmi:id="_sLftQJx1Eee7ep89pK7XMw" type="Transition" element="_sLfGMJx1Eee7ep89pK7XMw" source="_xkSFI5x3Eee7ep89pK7XMw" target="_xkSFF5x3Eee7ep89pK7XMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_sLftRJx1Eee7ep89pK7XMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_sLftRZx1Eee7ep89pK7XMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_sLftRpx1Eee7ep89pK7XMw" x="-6" y="-16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_sLftQZx1Eee7ep89pK7XMw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_sLftQ5x1Eee7ep89pK7XMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_sLftQpx1Eee7ep89pK7XMw" points="[1, 2, -7, -76]$[1, 69, -7, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_sLgUUJx1Eee7ep89pK7XMw" id="(0.4,0.8666666666666667)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_sLgUUZx1Eee7ep89pK7XMw" id="(0.9024390243902439,0.18867924528301888)"/>
    </edges>
    <edges xmi:id="_vj2JIJx1Eee7ep89pK7XMw" type="Transition" element="_vj1iEJx1Eee7ep89pK7XMw" source="_xkSFI5x3Eee7ep89pK7XMw" target="_xkSFC5x3Eee7ep89pK7XMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_vj2JJJx1Eee7ep89pK7XMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vj2JJZx1Eee7ep89pK7XMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vj2JJpx1Eee7ep89pK7XMw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vj2JIZx1Eee7ep89pK7XMw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vj2JI5x1Eee7ep89pK7XMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vj2JIpx1Eee7ep89pK7XMw" points="[7, 1, 3, 71]$[58, 1, 54, 71]$[58, -66, 54, 4]$[9, -66, 5, 4]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vj2wMJx1Eee7ep89pK7XMw" id="(0.9512195121951219,0.5660377358490566)"/>
    </edges>
    <edges xmi:id="_F95pcZx4Eee7ep89pK7XMw" type="Transition" element="_F95pcJx4Eee7ep89pK7XMw" source="_CATygJx4Eee7ep89pK7XMw" target="_F94bUJx4Eee7ep89pK7XMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_F96Qg5x4Eee7ep89pK7XMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_F96QhJx4Eee7ep89pK7XMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_F96QhZx4Eee7ep89pK7XMw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_F96QgJx4Eee7ep89pK7XMw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_F96Qgpx4Eee7ep89pK7XMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_F96QgZx4Eee7ep89pK7XMw" points="[-3, -24, 42, 298]$[-45, -322, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GhYJ8Jx4Eee7ep89pK7XMw" id="(0.9512195121951219,0.2641509433962264)"/>
    </edges>
    <edges xmi:id="_HaF6oZx4Eee7ep89pK7XMw" type="Transition" element="_HaF6oJx4Eee7ep89pK7XMw" source="_F94bUJx4Eee7ep89pK7XMw" target="_xkSFF5x3Eee7ep89pK7XMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_HaGhsZx4Eee7ep89pK7XMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_HaGhspx4Eee7ep89pK7XMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_HaGhs5x4Eee7ep89pK7XMw" x="-10" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_HaF6opx4Eee7ep89pK7XMw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_HaGhsJx4Eee7ep89pK7XMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_HaF6o5x4Eee7ep89pK7XMw" points="[8, 0, -89, 33]$[74, 0, -23, 33]$[74, -22, -23, 11]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_HaHIwJx4Eee7ep89pK7XMw" id="(0.4268292682926829,0.7735849056603774)"/>
    </edges>
    <edges xmi:id="_ILosUJx4Eee7ep89pK7XMw" type="Transition" element="_ILoFQJx4Eee7ep89pK7XMw" source="_F94bUJx4Eee7ep89pK7XMw" target="_xkSFC5x3Eee7ep89pK7XMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_ILosVJx4Eee7ep89pK7XMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ILosVZx4Eee7ep89pK7XMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ILpTYJx4Eee7ep89pK7XMw" x="-37" y="13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ILosUZx4Eee7ep89pK7XMw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ILosU5x4Eee7ep89pK7XMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ILosUpx4Eee7ep89pK7XMw" points="[2, -5, -78, 220]$[81, -245, 1, -20]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ILp6cJx4Eee7ep89pK7XMw" id="(0.15853658536585366,0.4339622641509434)"/>
    </edges>
    <edges xmi:id="_KO3IUJx4Eee7ep89pK7XMw" type="Transition" element="_KO2hQJx4Eee7ep89pK7XMw" source="_F94bUJx4Eee7ep89pK7XMw" target="_xkSE_5x3Eee7ep89pK7XMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_KO3IVJx4Eee7ep89pK7XMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KO3IVZx4Eee7ep89pK7XMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KO3IVpx4Eee7ep89pK7XMw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_KO3IUZx4Eee7ep89pK7XMw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_KO3IU5x4Eee7ep89pK7XMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_KO3IUpx4Eee7ep89pK7XMw" points="[-2, -6, 82, 198]$[-80, -197, 4, 7]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KO4WcJx4Eee7ep89pK7XMw" id="(0.7195121951219512,0.8679245283018868)"/>
    </edges>
    <edges xmi:id="_TrW38Jx4Eee7ep89pK7XMw" type="Transition" element="_TrWQ4Jx4Eee7ep89pK7XMw" source="_xkSE_5x3Eee7ep89pK7XMw" target="_CATygJx4Eee7ep89pK7XMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_TrW39Jx4Eee7ep89pK7XMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_TrW39Zx4Eee7ep89pK7XMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_TrW39px4Eee7ep89pK7XMw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_TrW38Zx4Eee7ep89pK7XMw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_TrW385x4Eee7ep89pK7XMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_TrW38px4Eee7ep89pK7XMw" points="[-1, 8, 2, -173]$[-1, 176, 2, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_TrYGEJx4Eee7ep89pK7XMw" id="(0.24390243902439024,0.8490566037735849)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_TrYGEZx4Eee7ep89pK7XMw" id="(0.2073170731707317,0.11320754716981132)"/>
    </edges>
    <edges xmi:id="_YCSb8Zx4Eee7ep89pK7XMw" type="Transition" element="_YCSb8Jx4Eee7ep89pK7XMw" source="_xkSFF5x3Eee7ep89pK7XMw" target="_CATygJx4Eee7ep89pK7XMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_YCTDAZx4Eee7ep89pK7XMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YCTDApx4Eee7ep89pK7XMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YCTDA5x4Eee7ep89pK7XMw" x="16" y="4"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_YCSb8px4Eee7ep89pK7XMw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_YCTDAJx4Eee7ep89pK7XMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_YCSb85x4Eee7ep89pK7XMw" points="[-15, 9, 161, -48]$[-15, 51, 161, -6]$[-172, 51, 4, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YCTqEJx4Eee7ep89pK7XMw" id="(0.5487804878048781,0.8301886792452831)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YCTqEZx4Eee7ep89pK7XMw" id="(0.9512195121951219,0.6981132075471698)"/>
    </edges>
    <edges xmi:id="_bD2IcJx4Eee7ep89pK7XMw" type="Transition" element="_bD1hYJx4Eee7ep89pK7XMw" source="_xkSFC5x3Eee7ep89pK7XMw" target="_CATygJx4Eee7ep89pK7XMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_bD2IdJx4Eee7ep89pK7XMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_bD2IdZx4Eee7ep89pK7XMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_bD2Idpx4Eee7ep89pK7XMw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_bD2IcZx4Eee7ep89pK7XMw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_bD2Ic5x4Eee7ep89pK7XMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_bD2Icpx4Eee7ep89pK7XMw" points="[6, -21, 213, -253]$[91, -21, 298, -253]$[91, 231, 298, -1]$[-201, 231, 6, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bD2vgJx4Eee7ep89pK7XMw" id="(0.926829268292683,0.6415094339622641)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bD2vgZx4Eee7ep89pK7XMw" id="(0.9310344827586207,0.660377358490566)"/>
    </edges>
    <edges xmi:id="_Gw2JQJ08Eee7ep89pK7XMw" type="Transition" element="_Gw0UEJ08Eee7ep89pK7XMw" source="_CATygJx4Eee7ep89pK7XMw" target="_CATygJx4Eee7ep89pK7XMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Gw2JRJ08Eee7ep89pK7XMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Gw2JRZ08Eee7ep89pK7XMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Gw2JRp08Eee7ep89pK7XMw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Gw2JQZ08Eee7ep89pK7XMw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Gw2JQ508Eee7ep89pK7XMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Gw2JQp08Eee7ep89pK7XMw" points="[74, 11, 41, 19]$[140, 11, 107, 19]$[140, 40, 107, 48]$[58, 40, 25, 48]$[58, 16, 25, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Gw3XYJ08Eee7ep89pK7XMw" id="(0.10344827586206896,0.6792452830188679)"/>
    </edges>
    <edges xmi:id="_wjUvEJ9oEeeSgsAPjpYRnw" type="Transition" element="_wjRrwJ9oEeeSgsAPjpYRnw" source="_xkSFC5x3Eee7ep89pK7XMw" target="_wjLlIJ9oEeeSgsAPjpYRnw">
      <children xsi:type="notation:DecorationNode" xmi:id="_wjXyYJ9oEeeSgsAPjpYRnw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wjXyYZ9oEeeSgsAPjpYRnw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wjXyYp9oEeeSgsAPjpYRnw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wjUvEZ9oEeeSgsAPjpYRnw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wjVWIJ9oEeeSgsAPjpYRnw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wjUvEp9oEeeSgsAPjpYRnw" points="[13, -26, -1, 56]$[13, -76, -1, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wjbcwJ9oEeeSgsAPjpYRnw" id="(0.03225806451612903,0.5471698113207547)"/>
    </edges>
    <edges xmi:id="_zDj3MJ9oEeeSgsAPjpYRnw" type="Transition" element="_zDiCAJ9oEeeSgsAPjpYRnw" source="_wjLlIJ9oEeeSgsAPjpYRnw" target="_xkSFC5x3Eee7ep89pK7XMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_zDj3NJ9oEeeSgsAPjpYRnw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zDj3NZ9oEeeSgsAPjpYRnw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zDkeQJ9oEeeSgsAPjpYRnw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zDj3MZ9oEeeSgsAPjpYRnw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zDj3M59oEeeSgsAPjpYRnw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zDj3Mp9oEeeSgsAPjpYRnw" points="[4, 3, -58, -54]$[67, 56, 5, -1]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zDmTcJ9oEeeSgsAPjpYRnw" id="(0.8924731182795699,0.03773584905660377)"/>
    </edges>
    <edges xmi:id="_zkUa4J9oEeeSgsAPjpYRnw" type="Transition" element="_zkSlsJ9oEeeSgsAPjpYRnw" source="_wjLlIJ9oEeeSgsAPjpYRnw" target="_xkSE_5x3Eee7ep89pK7XMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_zkVB8J9oEeeSgsAPjpYRnw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zkVB8Z9oEeeSgsAPjpYRnw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zkVB8p9oEeeSgsAPjpYRnw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zkUa4Z9oEeeSgsAPjpYRnw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zkUa459oEeeSgsAPjpYRnw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zkUa4p9oEeeSgsAPjpYRnw" points="[-3, 1, 143, -58]$[-141, 57, 5, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zkYsUJ9oEeeSgsAPjpYRnw" id="(0.2,0.4)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zkYsUZ9oEeeSgsAPjpYRnw" id="(0.8351648351648352,0.05660377358490566)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
